<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>h5shop管理平台</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  @@include('../templates/styles.html')
</head>
<body>
  <div class="content">
    <div class="wrap">
      @@include('../templates/header.html')
      @@include('../templates/navbar.html', {"about" : "active"})

      <div class="comm-board">
        <div class="inner">
          <div class="title">
            <h1>关于我们</h1>
          </div>
          <div class="board-body">
            <!-- @@include('../templates/board-section-title.html', {"sectionTitle" : "关于我们"}) -->
            <div class="form-block">
              <div class="form-group">
                <input type="text" placeholder="标题（可选）">
              </div>
              <div class="form-group">
                <input type="text" placeholder="Email（可选）">
              </div>
              <div class="form-group">
                <input type="text" placeholder="手机（可选）">
              </div>
              <div class="form-group">
                <textarea placeholder="团队介绍"></textarea>
              </div>
              <div class="form-group form-action">
                <div class="button">保存</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      @@include('../templates/footer.html')
    </div>
  </div>
  @@include('../templates/scripts.html')
</body>
</html>
