<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>大圣管理后台</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  @@include('../templates/styles.html')
</head>
<body>
  <div class="content">
    <div class="wrap">
      @@include('../templates/header.html')
      @@include('../templates/navbar.html', {"features" : "active"})

      <div class="comm-board">
        <div class="inner">
          <div class="title">
            <h1>产品特色</h1>
          </div>
          <div class="board-body">
            <!-- @@include('../templates/board-section-title.html', {"sectionTitle" : "产品特色"}) -->
            <div class="form-normal-opt">添加条目</div>
            <div class="cards">
              <div class="card">
                <div class="pic"></div>
                <div class="desc">基于H5、CSS3，从手机平板到PC轻松打造跨终端网站</div>
                <div class="opt">
                  <div class="button">编辑</div>
                  <div class="danger-opt">删除</div>
                </div>
              </div>
              <div class="card">
                <div class="pic"></div>
                <div class="desc">基于H5、CSS3，从手机平板到PC轻松打造跨终端网站</div>
                <div class="opt">
                  <div class="button">编辑</div>
                  <div class="danger-opt">删除</div>
                </div>
              </div>
              <div class="card">
                <div class="pic"></div>
                <div class="desc">基于H5、CSS3，从手机平板到PC轻松打造跨终端网站</div>
                <div class="opt">
                  <div class="button">编辑</div>
                  <div class="danger-opt">删除</div>
                </div>
              </div>
              <div class="card">
                <div class="pic">
                  <div class="pic-upload"></div>
                </div>
                <div class="desc">
                  <textarea name="" id="" cols="30" rows="10">基于H5、CSS3，从手机平板到PC轻松打造跨终端网站</textarea>
                </div>
                <div class="opt">
                  <div class="button">保存</div>
                </div>
              </div>
            </div>

            <div class="desc-text mt10">拖动每一个卡片可排列顺序，为了站点美观推荐至少编辑3-4项条目</div>
          </div>
        </div>
      </div>

      @@include('../templates/footer.html')
    </div>
  </div>
  @@include('../templates/scripts.html')
</body>
</html>
