@import "./common/var.less";

body {
    background: #eee;
    color: #333;
}

a {
    color: #00f;
}

.logo {
    width: 450/2px;
    height: 130/2px;
    background: url(../img/logo.png) 0 0 no-repeat;
    background-size: 100%;
}
