<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>h5shop管理平台</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  @@include('../templates/styles.html')
</head>
<body>
  <div class="content">
    <div class="wrap">
      @@include('../templates/header.html')
      @@include('../templates/navbar.html', {"theme" : "active"})

      <div class="board">
        <div class="inner">
          <div class="title">
            <h1>网站主题</h1>
          </div>
          <div class="board-body">
            <div class="img-desc-cards-wrap">
              <div class="img-desc-card theme-img-card">
                <div class="pic">
                  <div class="btns-wrap">
                    <div class="btn btn-mini">预览</div>
                    <div class="btn btn-mini btn-white">使用</div>
                  </div>
                </div>
              </div>
              <div class="img-desc-card theme-img-card">
                <div class="pic">
                  <div class="btns-wrap">
                    <div class="btn btn-mini">预览</div>
                    <div class="btn btn-mini btn-white">使用</div>
                  </div>
                </div>
              </div>
              <div class="img-desc-card theme-img-card">
                <div class="pic">
                  <div class="btns-wrap">
                    <div class="btn btn-mini">预览</div>
                    <div class="btn btn-mini btn-white">使用</div>
                  </div>
                </div>
              </div>
              <div class="img-desc-card theme-img-card">
                <div class="pic">
                  <div class="btns-wrap">
                    <div class="btn btn-mini">预览</div>
                    <div class="btn btn-mini btn-white">使用</div>
                  </div>
                </div>
              </div>
              <div class="img-desc-card theme-img-card">
                <div class="pic">
                  <div class="btns-wrap">
                    <div class="btn btn-mini">预览</div>
                    <div class="btn btn-mini btn-white">使用</div>
                  </div>
                </div>
              </div>
              <div class="img-desc-card theme-img-card">
                <div class="pic">
                  <div class="btns-wrap">
                    <div class="btn btn-mini">预览</div>
                    <div class="btn btn-mini btn-white">使用</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      @@include('../templates/footer.html')
    </div>
  </div>
  @@include('../templates/scripts.html')
</body>
</html>
