<div class="profile">
  <div onclick="toggleProfileMenu()" class="avatar">
    <img src="../../img/logo.svg" alt="">
  </div>
  <div id="J-ProfileMenu" class="profile-menu">
    <div class="anchor"></div>
    <div class="menu">
      <div class="item">
        <a href="user-center.html"><span class="wgt-icon"><i class="fa fa-user"></i></span>个人资料</a>
      </div>
      <div class="item">
        <a href="msg.html"><span class="wgt-icon"><i class="fa fa-envelope"></i></span>消息</a>
      </div>
      <div class="item">
        <a href="login.html"><span class="wgt-icon"><i class="fa fa-sign-out"></i></span>登出</a>
      </div>
    </div>
  </div>
</div>
