<div class="comm-navbar">
  <div class="inner">
    <h1><a href="carousel.html">大圣网站管理后台<small>大圣更专业的IT服务提供商</small></a></h1>
    <h2>内容管理</h2>
    <ul>
      <li class="@@carousel"><a href="/views/base">图片轮播</a></li>
      <li class="@@features"><a href="features.html">产品特色</a></li>
      <li class="@@about"><a href="about.html">关于我们</a></li>
      <!-- <li class="@@contact"><a href="contact.html">联系我们</a></li> -->
      <li class="@@demos"><a href="demos.html">案例展示</a></li>
      <li class="@@partners"><a href="partners.html">合作伙伴</a></li>
      <!-- <li class="@@theme"><a href="theme.html">网站主题</a></li> -->
    </ul>
    <h2>网站管理</h2>
    <ul>
      <!-- <li class="@@analysis"><a href="analysis.html">访问统计</a></li> -->
      <li class="@@msg"><a href="msg.html">消息提醒</a><span class="bubble">2</span></li>
      <li class="@@profile"><a href="user-center.html">个人资料</a></li>
    </ul>
  </div>
</div>
